body {
    text-align: center; /* Centrează tot conținutul */
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    font-size: 35px;
   padding: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}